In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('/data/data/final_data.csv')
data.head()

        uid       mid  star  timeStamp
0   1722994   1306505     1     2007.0
1   1405477  10574468     1     2013.0
2  15849871   4910186     1     2011.0
3   1068524   1304643     1     2006.0
4   1307041   1851857     1     2008.0

In [3]:
data.describe()

                uid           mid        star     timeStamp
count  1.686842e+07  1.686842e+07  16868418.0  1.686757e+07
mean   2.941449e+06  3.101523e+06         0.5  2.010022e+03
std    4.263294e+06  2.872140e+06         0.5  2.825229e+00
min    1.000001e+06  1.291543e+06         0.0  2.005000e+03
25%    1.205506e+06  1.309060e+06         0.0  2.008000e+03
50%    1.427313e+06  2.129039e+06         0.5  2.010000e+03
75%    1.743875e+06  3.701690e+06         1.0  2.012000e+03
max    1.999368e+07  2.471454e+07         1.0  2.016000e+03

In [4]:
data_1 = pd.read_csv('/data/data/final_data1.csv')
data_1.head()

        uid       mid  star  timeStamp
0   1722994   1306505     1     2007.0
1   1405477  10574468     1     2013.0
2  15849871   4910186     1     2011.0
3   1068524   1304643     1     2006.0
4   1307041   1851857     1     2008.0

In [5]:
data_1.describe()

                uid           mid          star     timeStamp
count  3.373751e+07  3.373751e+07  3.373751e+07  3.373751e+07
mean   2.941442e+06  3.418456e+06  2.499749e-01  2.010211e+03
std    4.263285e+06  3.218090e+06  4.329982e-01  1.053304e+01
min    1.000001e+06  1.291543e+06  0.000000e+00  3.000000e+00
25%    1.205506e+06  1.441871e+06  0.000000e+00  2.008000e+03
50%    1.427313e+06  2.286326e+06  0.000000e+00  2.010000e+03
75%    1.743875e+06  3.993251e+06  0.000000e+00  2.013000e+03
max    1.999368e+07  2.471454e+07  1.000000e+00  2.016000e+03