In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
rating_data = pd.read_csv('/data/data/UserMovie_train.txt',sep='\t')
movie = pd.read_csv('/data/data/Movie.txt',sep='\t')

In [3]:
rating_data.head()

        uid       mid   timeStamp  star
0   1722994   1306505  2007-08-22   5.0
1   1405477  10574468  2013-04-24   4.0
2  15849871   4910186  2011-12-20   5.0
3   1068524   1304643  2006-02-07   3.0
4   1307041   1851857  2008-09-22   4.0

In [4]:
rating_data['timeStamp'] = rating_data['timeStamp'].apply(lambda x:str(x)[0:4])

In [7]:
test = rating_data[['mid','star']].groupby(['mid'],as_index=False).agg({'star':sum})

In [9]:
mean_rating = rating_data[['mid','star']].groupby(by=['mid']).agg({'star':'sum'})['star'].mean()

In [11]:
mean_rating

477.94385873155693

In [8]:
test.head()

       mid     star
0  1291543  24689.0
1  1291544  15364.0
2  1291545  32476.0
3  1291546  57418.0
4  1291548  30697.0

In [7]:
rating_data.head()

        uid       mid timeStamp  star
0   1722994   1306505      2007   5.0
1   1405477  10574468      2013   4.0
2  15849871   4910186      2011   5.0
3   1068524   1304643      2006   3.0
4   1307041   1851857      2008   4.0

In [ ]:
#观影分布
plt.hist(rating_data.timeStamp)
plt.xlabel('watch_year')
plt.ylabel('number')

In [ ]:
#绘制评分的直方图
plt.hist(rating_data.star)

In [5]:
movie.head()

,mid,name,director,scriptwriter,mainPlayers,categories,productCountry,duration,releasedTime,tags,ratingCount,star5,star4,star3,star2,star1,language
0,10000940,Omid Djalili: Live in London,(Omid Djalili);,(Omid Djalili);,(Omid Djalili);,NaN,英国;,96.0,2009-11-16;,stand-up(2);Comedy(1);Stand-Up(1);,0.0,0.0,100.0,0.0,0.0,0.0,英语
1,10001411,黄昏少女×失忆 黄昏乙女×アムネジア,1314514(大沼心);,(高山克彦 Katsuhiko Takayama);,1315697(代永翼);1317501(原由实);1314136(福圆美里);(喜多村英梨...,动画;,日本;,0.0,NaN,动画(195);日本动画(178);动漫(136);日本(122);2012年4月(101)...,1005.0,11.8,34.4,44.4,8.1,1.3,日语
2,10001418,冰果 氷菓,1274468(武本康弘);,(米泽穗信);(贺东招二);,1274454(中村悠一);1275215(佐藤聪美);1029338(阪口大助);1314...,动画;悬疑;,日本;,NaN,NaN,动画(1910);日本(1627);推理(1230);京都动画(982);2012(719)...,8255.0,46.4,35.4,15.5,2.2,0.5,日语
3,10001423,喷火女郎 噴火女郎,(姜南);,NaN,(张仲文 金峰 王元龙);,喜剧;,香港;,0.0,1959年1月6日 (中国香港);,1959(1);喜剧(1);姜南(1);张仲文(1);王元龙(1);金峰(1);香港(1);,0.0,0.0,0.0,0.0,100.0,0.0,汉语普通话
4,10001426,皇家国教骑士团 OVA IX HELLSING IX,(ところともかず);,NaN,(折笠富美子 Fumiko Orikasa);1020197(斋贺美月);(飞田展男 Nob...,动画;,日本;,0.0,2012-02-15;,OVA(223);Hellsing(183);吸血鬼(142);日本动画(141);动画(1...,810.0,70.6,23.2,5.8,0.2,0.1,日语

In [ ]:
print(3+4)