In [29]:
import pandas as pd
import numpy as np

In [30]:
user_movie_train = pd.read_table('../data/UserMovie_train.txt',sep='\t')

In [31]:
user_movie_train.head()

        uid       mid   timeStamp  star
0   1722994   1306505  2007-08-22   5.0
1   1405477  10574468  2013-04-24   4.0
2  15849871   4910186  2011-12-20   5.0
3   1068524   1304643  2006-02-07   3.0
4   1307041   1851857  2008-09-22   4.0

In [32]:
# uid 48613  mid 72541
data = user_movie_train
mid = data['mid'].unique()
uid = data['uid'].unique()
collect_mid_encoder = {}
collect_mid_dencoder = {}
collect_uid_encoder = {}
collect_uid_dencoder = {}
for i in range(len(mid)):
    collect_mid_encoder[i] = mid[i]
    collect_mid_dencoder[mid[i]] = i
for i in range(len(uid)):
    collect_uid_encoder[i] = uid[i]
    collect_uid_dencoder[uid[i]] = i
data['mid'] = data['mid'].map(lambda x:collect_mid_dencoder[x])
data['uid'] = data['uid'].map(lambda x:collect_uid_dencoder[x])

In [33]:
data.head()

   uid  mid   timeStamp  star
0    0    0  2007-08-22   5.0
1    1    1  2013-04-24   4.0
2    2    2  2011-12-20   5.0
3    3    3  2006-02-07   3.0
4    4    4  2008-09-22   4.0

In [12]:
test = data['timeStamp']

In [15]:
data['timeStamp'] = data['timeStamp'].apply(lambda x: str(x)[0:4])

In [17]:
data.head()

   uid  mid timeStamp  star
0    0    0      2007   5.0
1    1    1      2013   4.0
2    2    2      2011   5.0
3    3    3      2006   3.0
4    4    4      2008   4.0

In [34]:
data['uid'].value_counts()

182      43185
82       35774
9        32324
119      31016
572      25494
46       24316
676      22971
63       16874
90       15934
382      12100
960       9387
280       9105
1252      8469
447       7977
185       7943
176       7889
524       6808
1049      6528
937       6357
773       6325
855       6107
2716      5744
1427      5638
2268      5562
2196      5114
3635      5093
558       5093
1772      5084
1627      5067
1446      4997
         ...
48359        1
48376        1
48326        1
44024        1
46901        1
44020        1
48322        1
46907        1
48335        1
48334        1
48333        1
46880        1
47966        1
48330        1
48329        1
46888        1
46935        1
48328        1
43962        1
48373        1
48369        1
48368        1
48383        1
43924        1
48382        1
48380        1
48379        1
48377        1
47771        1
47640        1
Name: uid, Length: 48765, dtype: int64

In [2]:
final_data = pd.read_csv('../data/final_data.csv')

In [3]:
final_data.head()

        uid       mid  star  timeStamp
0   1722994   1306505     1     2007.0
1   1405477  10574468     1     2013.0
2  15849871   4910186     1     2011.0
3   1068524   1304643     1     2006.0
4   1307041   1851857     1     2008.0

In [15]:
movie_per_num = final_data['mid'].value_counts()

In [26]:
movie_per_num[0:1000]

3541415    18818
3742360    17317
1292052    15712
1295644    15242
1652587    15021
1292720    14474
1929463    12914
2131459    12822
1292215    12733
2129039    12604
1292001    12589
2209573    12247
1291561    12225
3793023    12152
1291546    12075
1292722    11883
4920528    11837
3075287    11061
1292370    10991
1978709    10883
3005875    10760
1849031    10738
1485260    10718
1292223    10698
4305436    10609
1783457    10443
4873490    10285
3313801    10191
3734112     9986
1292000     9857
           ...
1299769     2039
1309054     2038
1307696     2036
1303010     2033
1293181     2031
1299624     2022
1870044     2019
1395776     2015
4888039     2014
1300117     2013
1294136     2010
2147129     2010
1428581     2010
2267369     2008
2976111     2007
1292450     2007
3732800     2006
2270390     2005
1863923     2001
1301617     2000
3607666     1998
3126196     1997
1300108     1996
2229427     1994
1439831     1994
1306666     1991
1292950     1991
1395471     1990
1293315     1989
6011806     1988
Name: mid, Length: 1000, dtype: int64

[18818,
 17317,
 15712,
 15242,
 15021,
 14474,
 12914,
 12822,
 12733,
 12604,
 12589,
 12247,
 12225,
 12152,
 12075,
 11883,
 11837,
 11061,
 10991,
 10883,
 10760,
 10738,
 10718,
 10698,
 10609,
 10443,
 10285,
 10191,
 9986,
 9857,
 9805,
 9785,
 9660,
 9495,
 9484,
 9410,
 9348,
 9340,
 9175,
 9118,
 9118,
 9065,
 9030,
 8933,
 8844,
 8827,
 8762,
 8745,
 8733,
 8699,
 8684,
 8667,
 8624,
 8588,
 8549,
 8545,
 8543,
 8533,
 8515,
 8510,
 8351,
 8299,
 8282,
 8162,
 8149,
 8073,
 8066,
 8058,
 8034,
 8024,
 7993,
 7985,
 7907,
 7882,
 7882,
 7829,
 7813,
 7788,
 7783,
 7757,
 7725,
 7717,
 7664,
 7634,
 7622,
 7614,
 7563,
 7540,
 7518,
 7514,
 7503,
 7469,
 7447,
 7431,
 7405,
 7402,
 7381,
 7361,
 7321,
 7309,
 7281,
 7275,
 7265,
 7263,
 7207,
 7204,
 7204,
 7136,
 7133,
 7086,
 7068,
 7054,
 6988,
 6935,
 6898,
 6893,
 6892,
 6815,
 6797,
 6788,
 6692,
 6683,
 6670,
 6651,
 6649,
 6640,
 6623,
 6618,
 6596,
 6532,
 6510,
 6507,
 6504,
 6496,
 6490,
 6485,
 6466,
 6375,
 6373,
 6367,
 6365,
 6331,
 6324,
 6324,
 6315,
 6302,
 6289,
 6244,
 6228,
 6220,
 6212,
 6166,
 6158,
 6151,
 6136,
 6116,
 6096,
 6075,
 6063,
 6062,
 6062,
 6058,
 6057,
 6054,
 6054,
 6052,
 6044,
 6041,
 6025,
 6000,
 5996,
 5978,
 5962,
 5956,
 5945,
 5922,
 5913,
 5888,
 5846,
 5844,
 5842,
 5840,
 5815,
 5810,
 5805,
 5800,
 5796,
 5795,
 5795,
 5795,
 5785,
 5749,
 5749,
 5728,
 5728,
 5725,
 5723,
 5712,
 5707,
 5700,
 5660,
 5646,
 5646,
 5620,
 5616,
 5614,
 5583,
 5576,
 5573,
 5567,
 5566,
 5494,
 5458,
 5450,
 5403,
 5371,
 5367,
 5359,
 5353,
 5341,
 5320,
 5316,
 5289,
 5281,
 5276,
 5255,
 5253,
 5229,
 5224,
 5213,
 5205,
 5200,
 5196,
 5186,
 5178,
 5153,
 5120,
 5115,
 5093,
 5088,
 5087,
 5084,
 5076,
 5070,
 5068,
 5050,
 5042,
 5037,
 5017,
 5015,
 5014,
 5007,
 5005,
 4981,
 4973,
 4966,
 4956,
 4950,
 4948,
 4945,
 4945,
 4942,
 4940,
 4933,
 4925,
 4913,
 4904,
 4901,
 4890,
 4887,
 4881,
 4847,
 4843,
 4842,
 4828,
 4821,
 4820,
 4808,
 4799,
 4796,
 4795,
 4783,
 4778,
 4772,
 4769,
 4764,
 4761,
 4743,
 4741,
 4718,
 4718,
 4708,
 4706,
 4694,
 4688,
 4658,
 4648,
 4641,
 4637,
 4637,
 4624,
 4620,
 4602,
 4583,
 4540,
 4535,
 4533,
 4532,
 4527,
 4520,
 4509,
 4500,
 4494,
 4492,
 4485,
 4484,
 4481,
 4480,
 4479,
 4471,
 4443,
 4442,
 4428,
 4427,
 4426,
 4418,
 4409,
 4406,
 4399,
 4399,
 4385,
 4371,
 4363,
 4362,
 4360,
 4359,
 4348,
 4346,
 4337,
 4333,
 4330,
 4330,
 4330,
 4322,
 4319,
 4319,
 4309,
 4305,
 4298,
 4281,
 4278,
 4263,
 4256,
 4238,
 4234,
 4229,
 4188,
 4183,
 4183,
 4180,
 4180,
 4178,
 4178,
 4169,
 4164,
 4162,
 4158,
 4157,
 4156,
 4156,
 4155,
 4128,
 4122,
 4105,
 4094,
 4092,
 4077,
 4068,
 4062,
 4053,
 4022,
 4011,
 4005,
 3996,
 3990,
 3989,
 3988,
 3983,
 3979,
 3975,
 3972,
 3968,
 3967,
 3964,
 3962,
 3960,
 3955,
 3946,
 3937,
 3925,
 3924,
 3924,
 3912,
 3908,
 3896,
 3895,
 3894,
 3887,
 3870,
 3857,
 3857,
 3855,
 3852,
 3852,
 3847,
 3846,
 3844,
 3826,
 3825,
 3819,
 3807,
 3803,
 3796,
 3793,
 3789,
 3788,
 3784,
 3783,
 3783,
 3782,
 3781,
 3769,
 3767,
 3765,
 3764,
 3764,
 3736,
 3732,
 3732,
 3722,
 3719,
 3711,
 3706,
 3692,
 3692,
 3691,
 3673,
 3673,
 3660,
 3650,
 3649,
 3634,
 3624,
 3624,
 3611,
 3608,
 3603,
 3601,
 3598,
 3590,
 3590,
 3580,
 3579,
 3578,
 3572,
 3567,
 3564,
 3560,
 3558,
 3557,
 3552,
 3548,
 3544,
 3543,
 3530,
 3526,
 3522,
 3505,
 3504,
 3502,
 3497,
 3490,
 3490,
 3482,
 3480,
 3468,
 3465,
 3464,
 3451,
 3451,
 3450,
 3444,
 3443,
 3442,
 3439,
 3438,
 3430,
 3429,
 3427,
 3426,
 3425,
 3425,
 3418,
 3413,
 3411,
 3410,
 3404,
 3402,
 3401,
 3396,
 3395,
 3390,
 3387,
 3371,
 3370,
 3360,
 3357,
 3352,
 3348,
 3340,
 3337,
 3335,
 3330,
 3329,
 3322,
 3320,
 3315,
 3311,
 3310,
 3308,
 3307,
 3305,
 3304,
 3301,
 3293,
 3292,
 3287,
 3283,
 3280,
 3280,
 3279,
 3274,
 3273,
 3273,
 3268,
 3266,
 3263,
 3259,
 3251,
 3251,
 3250,
 3246,
 3245,
 3243,
 3233,
 3231,
 3231,
 3224,
 3223,
 3221,
 3213,
 3212,
 3211,
 3199,
 3194,
 3194,
 3179,
 3167,
 3164,
 3162,
 3161,
 3161,
 3151,
 3150,
 3145,
 3145,
 3136,
 3136,
 3135,
 3130,
 3129,
 3124,
 3124,
 3119,
 3119,
 3118,
 3116,
 3109,
 3104,
 3103,
 3101,
 3099,
 3096,
 3094,
 3089,
 3085,
 3083,
 3082,
 3079,
 3078,
 3073,
 3072,
 3069,
 3061,
 3057,
 3051,
 3050,
 3050,
 3049,
 3047,
 3045,
 3045,
 3034,
 3029,
 3026,
 3024,
 3022,
 3021,
 3020,
 3020,
 3019,
 3014,
 3010,
 3002,
 3002,
 2998,
 2995,
 2987,
 2986,
 2976,
 2975,
 2953,
 2949,
 2946,
 2944,
 2939,
 2937,
 2934,
 2931,
 2919,
 2911,
 2910,
 2904,
 2901,
 2899,
 2895,
 2895,
 2893,
 2891,
 2889,
 2880,
 2872,
 2872,
 2864,
 2859,
 2858,
 2849,
 2847,
 2842,
 2836,
 2833,
 2819,
 2818,
 2816,
 2811,
 2805,
 2800,
 2799,
 2792,
 2790,
 2785,
 2784,
 2783,
 2781,
 2775,
 2774,
 2772,
 2770,
 2769,
 2767,
 2766,
 2763,
 2759,
 2756,
 2755,
 2754,
 2753,
 2751,
 2751,
 2744,
 2743,
 2733,
 2731,
 2731,
 2731,
 2728,
 2720,
 2715,
 2714,
 2711,
 2705,
 2702,
 2702,
 2697,
 2684,
 2680,
 2679,
 2677,
 2674,
 2673,
 2668,
 2667,
 2667,
 2664,
 2659,
 2654,
 2652,
 2648,
 2646,
 2639,
 2636,
 2630,
 2630,
 2628,
 2628,
 2624,
 2623,
 2621,
 2619,
 2611,
 2609,
 2609,
 2604,
 2599,
 2598,
 2596,
 2593,
 2587,
 2579,
 2574,
 2571,
 2561,
 2561,
 2561,
 2559,
 2556,
 2553,
 2549,
 2548,
 2547,
 2547,
 2547,
 2543,
 2542,
 2541,
 2540,
 2537,
 2536,
 2534,
 2531,
 2518,
 2518,
 2512,
 2512,
 2508,
 2502,
 2500,
 2496,
 2495,
 2494,
 2491,
 2491,
 2490,
 2489,
 2480,
 2477,
 2474,
 2473,
 2470,
 2470,
 2467,
 2467,
 2465,
 2463,
 2460,
 2458,
 2456,
 2456,
 2453,
 2450,
 2447,
 2445,
 2438,
 2437,
 2435,
 2427,
 2424,
 2417,
 2417,
 2414,
 2414,
 2405,
 2403,
 2402,
 2402,
 2398,
 2397,
 2396,
 2395,
 2393,
 2388,
 2388,
 2386,
 2382,
 2381,
 2372,
 2366,
 2364,
 2359,
 2358,
 2357,
 2352,
 2344,
 2343,
 2343,
 2342,
 2341,
 2336,
 2335,
 2334,
 2325,
 2324,
 2322,
 2319,
 2315,
 2314,
 2313,
 2309,
 2298,
 2296,
 2293,
 2292,
 2287,
 2287,
 2285,
 2284,
 2283,
 2283,
 2282,
 2281,
 2280,
 2279,
 2278,
 2271,
 2271,
 2270,
 2269,
 2269,
 2268,
 2268,
 2267,
 2265,
 2264,
 2258,
 2256,
 2255,
 2253,
 2250,
 2249,
 2247,
 2246,
 2239,
 2235,
 2235,
 2233,
 2232,
 2231,
 2229,
 2229,
 2228,
 2224,
 2219,
 2213,
 2211,
 2209,
 2202,
 2197,
 2194,
 2194,
 2191,
 2190,
 2186,
 2186,
 2185,
 2185,
 2184,
 2183,
 2171,
 2169,
 2168,
 2165,
 2164,
 2161,
 2161,
 2160,
 2157,
 2157,
 2156,
 2148,
 2147,
 2144,
 2141,
 2140,
 2139,
 2139,
 2137,
 2137,
 2133,
 2132,
 2130,
 2129,
 2127,
 2126,
 2121,
 2118,
 2113,
 2110,
 2109,
 2107,
 2107,
 2105,
 2103,
 2103,
 2103,
 2102,
 2101,
 2098,
 2096,
 2096,
 2095,
 2094,
 2088,
 2085,
 2085,
 2085,
 2083,
 2083,
 2081,
 2079,
 2075,
 2075,
 2072,
 2072,
 2071,
 2070,
 2066,
 2064,
 2063,
 2063,
 2062,
 2061,
 2058,
 2056,
 2055,
 2053,
 2050,
 2048,
 2048,
 2045,
 2044,
 2039,
 2038,
 2036,
 2033,
 2031,
 2022,
 2019,
 2015,
 2014,
 2013,
 2010,
 2010,
 2010,
 2008,
 2007,
 2007,
 2006,
 2005,
 2001,
 2000,
 1998,
 1997,
 1996,
 1994,
 1994,
 1991,
 1991,
 1990,
 1989,
 1988,
 ...]