In [28]:
import numpy as np
import pandas as pd

In [18]:
data = pd.read_csv('/data/data/UserMovie_train.txt',encoding='gb2312',delim_whitespace=True,index_col=None)

In [22]:
data.head()

        uid       mid timeStamp  star
0   1722994   1306505      2007     1
1   1405477  10574468      2013     1
2  15849871   4910186      2011     1
3   1068524   1304643      2006     1
4   1307041   1851857      2008     1

In [20]:
data['timeStamp'] = data['timeStamp'].apply(lambda x:str(x)[0:4])

In [21]:
def hash_star(x):
    if x>=3:
        return 1
    else:
        return 0

data['star'] = data['star'].apply(lambda x:hash_star(x))

In [3]:
# 目前不需要
all1 = pd.read_csv('libsvm.txt',sep=' ',encoding='GB2312')
def hash_id(x):
    return int(str(x)[2:])

def hash_star(x):
    if x>=3:
        return 1
    else:
        return 0

all1.columns = ['star','uid','mid','timeStamp']    
for i in ['uid','mid']:
    all1[i] = all1[i].apply(lambda x:hash_id(x))
    
all1['timeStamp'] = all1['timeStamp'].apply(lambda x:str(x)[2:])
    
all1['star'] = all1['star'].apply(lambda x:hash_star(x))

In [23]:
all1=data

In [29]:
all1.head(5)

        uid       mid timeStamp  star
0   1722994   1306505      2007     1
1   1405477  10574468      2013     1
2  15849871   4910186      2011     1
3   1068524   1304643      2006     1
4   1307041   1851857      2008     1

In [30]:
temp = all1.groupby(['uid']).size().reset_index().rename(columns={0:'times'})
save_uid = temp[temp['times']<=6000]['uid'].values
print('TEMP UID: ',temp.shape)
print('ALL UID: ',all1.shape)
temp = temp[temp['uid'].isin(save_uid)]
all1 = all1[all1['uid'].isin(save_uid)]
print('DELETE ID: ',all1.shape)
all_movie = list(set(all1['mid'].values))
import random
random.randint(1,len(all_movie))

TEMP UID:  (48744, 2)
ALL UID:  (8434377, 4)
DELETE ID:  (8434377, 4)

34644

In [32]:
import random
import time
imposstive = {
    'uid' : [],
    'mid' : [],
    'star' : [],
    'timeStamp' : []
}
all_movie = list(set(all1['mid'].values))
tot = 0
t1 = time.time()
for i,j in temp[['uid','times']].values:
    tot+=1
    kfc = random.sample(all_movie,int(j*4))
    for k in all1[all1['uid']==i]['mid'].unique():
        try:
            kfc.remove(k)
        except:
            continue
    for k in range(j*3):
        imposstive['uid'].append(i)
        imposstive['star'].append(0)
        kkk = random.randint(1,len(kfc)-1)
        imposstive['mid'].append(kfc[kkk])
        imposstive['timeStamp'].append(random.randint(2005,2016))
        try:
            kfc.remove(all_movie[kkk])
        except:
            continue
    if tot % 1000 == 0:
        print(tot)
        print(time.time()-t1)
        t1 = time.time()

1000
90.28375959396362
2000
86.93158102035522
3000
76.82920265197754
4000
96.46967315673828
5000
67.03181219100952
6000
147.52017521858215
7000
71.74192070960999
8000
69.77519869804382
9000
65.7376856803894
10000
61.79079294204712
11000
63.145143032073975
12000
65.80774116516113
13000
63.489830493927
14000
63.856696128845215
15000
58.54071879386902
16000
57.83989667892456
17000
69.8143470287323
18000
44.901766777038574
19000
79.52172613143921
20000
56.42452692985535
21000
96.06866979598999
22000
113.84222841262817
23000
50.01711130142212
24000
102.18487477302551
25000
84.3866822719574
26000
63.05258774757385
27000
79.2169177532196
28000
49.746772050857544
29000
112.84772443771362
30000
78.23601222038269
31000
53.357248067855835
32000
64.68486142158508
33000
90.35835647583008
34000
51.68742537498474
35000
72.24974179267883
36000
63.753878116607666
37000
135.38023352622986
38000
106.69435214996338
39000
84.42739343643188
40000
65.22258806228638
41000
54.06576609611511
42000
75.42819595336914
43000
66.09276914596558
44000
50.261756896972656
45000
53.8606915473938
46000
49.56262254714966
47000
53.55603337287903
48000
43.596195220947266

In [33]:
from pandas import DataFrame as DF
all_data2 = DF(imposstive)

/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if __name__ == '__main__':

In [36]:
all_data2.head()

       uid       mid  star  timeStamp
0  1000001  21371640     0       2015
1  1000001   4158024     0       2013
2  1000001   2056602     0       2007
3  1000001   3788025     0       2008
4  1000001   4116987     0       2006

In [38]:
feature_name = all_data2.columns

In [39]:
final_data = pd.concat([all1[feature_name],all_data2[feature_name]],axis=0).reset_index(drop=True)
final_data.to_csv('final_data1.csv',index=False)

In [ ]:
final_data.info()

In [40]:
final_data['new_mid'] = final_data['mid'].map(lambda x:int(x)) #lambda x:str(x)[2:]

In [41]:
final_data.head()

        uid       mid  star timeStamp   new_mid
0   1722994   1306505     1      2007   1306505
1   1405477  10574468     1      2013  10574468
2  15849871   4910186     1      2011   4910186
3   1068524   1304643     1      2006   1304643
4   1307041   1851857     1      2008   1851857

In [42]:
final_data['new_mid'].max()

24714535

In [ ]:
all_data2.head(10)

In [ ]:
all1_temp = all1[['uid','mid','star','timeStamp']].copy()

                  uid   star
mid
1291543   18502973170   6247
1291544   13743877730   3917
1291545   21164237540   7362
1291546   38808796413  12001
1291548   20595431621   6728
1291549   32062659630   9590
1291550   20086349320   7361
1291552   20112308318   6222
1291553    2881143554   1235
1291554   12723652228   3261
1291555   11345213839   3830
1291556    1553122825    584
1291557   17835640541   6014
1291558    7295066446   3236
1291559    4273426963   1973
1291560   29538554378   8597
1291561   40853199329  12161
1291562    9579520140   4089
1291563    3376947844   1227
1291564    2576013942   1147
1291565    6476003036   2303
1291566    2897069836   1172
1291568    3020560605   1150
1291569    1875589789    690
1291571   21522275680   6574
1291572   19327766788   5960
1291573    6387388373   2033
1291574    7858387806   2161
1291575   13607584491   4034
1291576    2279107698    851
...               ...    ...
24530675    343628226      4
24530706    354638447      1
24531286    515624281      1
24532101    392360266      1
24532410    244319018      1
24532411    271838746      2
24533746    333974923      1
24534410    371783818      4
24534545    362453696      1
24685124    364178690      1
24690327    312805737      1
24694916    259760591      1
24695302    309771528      1
24695449    327878057      1
24695923    275736557      2
24696791    358698190      1
24696798    427226944      4
24696807    317755516      1
24698630    356900592      1
24698865    219874967      1
24699452    313417063      2
24699981    183086321      1
24702635    494680270      1
24704095    301343927      1
24705115    437393344      1
24705286    311925995      1
24706273    247422157      1
24706547    285840903      1
24708130    409315533      1
24714535    266460521      1

[72581 rows x 2 columns]