In [1]:
import codecs
import pandas as pd

In [2]:
mid2_new = {}

In [3]:
with codecs.open("ripple_mid.txt", "r", "utf-8") as f:
    for line in f.readlines():
        line = line.strip()
        mid, new = line.split("\t")[0], line.split("\t")[1]
        # print(type(mid))
        mid2_new[mid] = new

In [ ]:
print(mid2_new['1306483'])

In [4]:
def mid_map(x):
    x = str(x)
    if x in mid2_new:
        return mid2_new[x]
    else:
        return 0
fd = pd.read_csv("final_data1.csv")
fd['mid'] = fd['mid'].apply(lambda x: mid_map(x))

In [5]:
fd.head()

        uid    mid  star  timeStamp
0   1722994  13262     1     2007.0
1   1405477      0     1     2013.0
2  15849871  68974     1     2011.0
3   1068524  12103     1     2006.0
4   1307041  24143     1     2008.0

In [6]:
fd = fd[~fd['mid'].isin([0])]

In [7]:
fd.head()

        uid    mid  star  timeStamp
0   1722994  13262     1     2007.0
2  15849871  68974     1     2011.0
3   1068524  12103     1     2006.0
4   1307041  24143     1     2008.0
5   1700174  52702     1     2010.0

In [8]:
data = fd[['uid', 'mid', 'star']]
# data.to_csv('train.csv', index=False)

In [9]:
data.head()

        uid    mid  star
0   1722994  13262     1
2  15849871  68974     1
3   1068524  12103     1
4   1307041  24143     1
5   1700174  52702     1

In [11]:
data.sort_values(['uid'],ascending=True)

               uid    mid  star
657025     1000001   3756     1
8434747    1000001  42435     0
8434746    1000001  26164     0
8434745    1000001   3176     0
8434744    1000001   6978     0
8434743    1000001  20768     0
8434741    1000001  26010     0
8434740    1000001  80464     0
8434739    1000001  35464     0
8434738    1000001  61375     0
8434737    1000001  15457     0
8434736    1000001  45239     0
8434735    1000001  12557     0
8434734    1000001  10718     0
8434733    1000001  39096     0
8434732    1000001  25618     0
8434731    1000001   4188     0
8434728    1000001   6433     0
8434727    1000001  78443     0
8434726    1000001  64919     0
8434725    1000001  27440     0
2888051    1000001  22938     1
8434724    1000001  62276     0
8434723    1000001   2238     0
8434722    1000001    612     0
8434721    1000001  37728     0
8434720    1000001  31569     0
8434719    1000001  13308     0
8434718    1000001  15552     0
8434717    1000001  43374     0
...            ...    ...   ...
33736088  19993676  18581     0
33736098  19993676  79806     0
33736113  19993676  52553     0
33736116  19993676   4582     0
33736118  19993676   4141     0
33736146  19993676   3183     0
33736145  19993676  19387     0
33736143  19993676   2703     0
33736142  19993676  21011     0
33736141  19993676  32816     0
33736140  19993676  39437     0
33736139  19993676  35963     0
33736138  19993676  67052     0
33736137  19993676  33203     0
33736136  19993676  27023     0
33736135  19993676   4978     0
33736133  19993676  74891     0
33736132  19993676  48349     0
33736131  19993676  42404     0
33736130  19993676  65406     0
33736128  19993676  25008     0
33736127  19993676  12965     0
33736126  19993676  26962     0
33736124  19993676   8139     0
33736123  19993676  17090     0
33736122  19993676  15270     0
33736121  19993676  32416     0
33736119  19993676  56078     0
33736148  19993676  67203     0
33737507  19993676    758     0

[29104513 rows x 3 columns]

In [12]:
data.head()

        uid    mid  star
0   1722994  13262     1
2  15849871  68974     1
3   1068524  12103     1
4   1307041  24143     1
5   1700174  52702     1