In [1]:
import gc 
import time 
import numpy as np 
import pandas as pd 
from sklearn.metrics import roc_auc_score 
from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import LabelEncoder 
from pandas import DataFrame as DF

In [2]:
data = pd.read_csv('../data/final_data.csv',sep=',')

In [3]:
data

               uid       mid  star  timeStamp
0          1722994   1306505     1     2007.0
1          1405477  10574468     1     2013.0
2         15849871   4910186     1     2011.0
3          1068524   1304643     1     2006.0
4          1307041   1851857     1     2008.0
5          1700174   3324130     1     2010.0
6         16124523   6860160     1     2013.0
7          1562429   1296339     1     2007.0
8          1475205   1907467     1     2008.0
9          1484972   5352872     1     2012.0
10         1430026   2131650     1     2010.0
11         1015409   4004731     1     2011.0
12         1371835   1767064     1     2007.0
13        17046536   3022862     1     2011.0
14         1442320   3901459     1     2012.0
15         1320952   2154354     1     2011.0
16         1853678   3990500     1     2010.0
17         1713100   1972729     1     2012.0
18         1090897   1301578     1     2009.0
19         1920971  10491666     1     2012.0
20         1622026   1972729     1     2013.0
21         1789507   1388216     1     2007.0
22        10163586   3897667     1     2010.0
23         1478286   1296867     1     2010.0
24         1685299   2357304     1     2008.0
25         1801254   3182864     1     2010.0
26         1355147   1291546     1     2008.0
27        19556493   1417598     1     2009.0
28         1123794   1291869     1     2006.0
29        18122670   1451430     1     2010.0
...            ...       ...   ...        ...
16868388  19993676   3443986     0     2011.0
16868389  19993676   4906764     0     2007.0
16868390  19993676   5151793     0     2006.0
16868391  19993676   4300780     0     2005.0
16868392  19993676   2214099     0     2016.0
16868393  19993676   4050086     0     2014.0
16868394  19993676   1309025     0     2005.0
16868395  19993676   1296697     0     2014.0
16868396  19993676   1779548     0     2016.0
16868397  19993676   1295046     0     2014.0
16868398  19993676   1428134     0     2013.0
16868399  19993676   1306314     0     2007.0
16868400  19993676   4910181     0     2014.0
16868401  19993676   5361563     0     2009.0
16868402  19993676   1499762     0     2012.0
16868403  19993676   2132164     0     2014.0
16868404  19993676   1787915     0     2005.0
16868405  19993676   2004547     0     2007.0
16868406  19993676   2365061     0     2007.0
16868407  19993676   1959944     0     2012.0
16868408  19993676   1417900     0     2005.0
16868409  19993676   1424257     0     2011.0
16868410  19993676  10518898     0     2005.0
16868411  19993676  11636311     0     2009.0
16868412  19993676   3564315     0     2008.0
16868413  19993676   3901459     0     2007.0
16868414  19993676   3804003     0     2011.0
16868415  19993676   1999216     0     2007.0
16868416  19993676   1966139     0     2013.0
16868417  19993676   1962621     0     2014.0

[16868418 rows x 4 columns]

In [7]:
movie = DF(data)

In [8]:
movie_count = movie['mid'].value_counts()

In [9]:
movie_count

3541415     18818
3742360     17317
1292052     15712
1295644     15242
1652587     15021
1292720     14474
1929463     12914
2131459     12822
1292215     12733
2129039     12604
1292001     12589
2209573     12247
1291561     12225
3793023     12152
1291546     12075
1292722     11883
4920528     11837
3075287     11061
1292370     10991
1978709     10883
3005875     10760
1849031     10738
1485260     10718
1292223     10698
4305436     10609
1783457     10443
4873490     10285
3313801     10191
3734112      9986
1292000      9857
            ...
1966605        77
6946906        77
3801692        77
5366668        77
4195574        77
11636427       77
3070170        77
3190067        77
3016000        77
5410180        76
10472782       76
3539112        76
22000553       76
6816283        76
2045885        75
1300368        75
3289909        75
3277417        75
1998482        74
2040637        74
1308893        74
5351983        74
3778980        74
6815959        73
5374369        73
3130388        72
3815861        71
6815849        71
3364517        67
10748261       64
Name: mid, Length: 72581, dtype: int64

In [11]:
movie_count[0:1000]

3541415    18818
3742360    17317
1292052    15712
1295644    15242
1652587    15021
1292720    14474
1929463    12914
2131459    12822
1292215    12733
2129039    12604
1292001    12589
2209573    12247
1291561    12225
3793023    12152
1291546    12075
1292722    11883
4920528    11837
3075287    11061
1292370    10991
1978709    10883
3005875    10760
1849031    10738
1485260    10718
1292223    10698
4305436    10609
1783457    10443
4873490    10285
3313801    10191
3734112     9986
1292000     9857
           ...
1299769     2039
1309054     2038
1307696     2036
1303010     2033
1293181     2031
1299624     2022
1870044     2019
1395776     2015
4888039     2014
1300117     2013
1294136     2010
2147129     2010
1428581     2010
2267369     2008
2976111     2007
1292450     2007
3732800     2006
2270390     2005
1863923     2001
1301617     2000
3607666     1998
3126196     1997
1300108     1996
2229427     1994
1439831     1994
1306666     1991
1292950     1991
1395471     1990
1293315     1989
6011806     1988
Name: mid, Length: 1000, dtype: int64

In [12]:
movie_count[0:1000].to_csv('../data/final_movie_head.txt')

In [13]:
usermovie = pd.read_csv('../data/final_data.csv',sep=',')

In [14]:
usermovie

               uid       mid  star  timeStamp
0          1722994   1306505     1     2007.0
1          1405477  10574468     1     2013.0
2         15849871   4910186     1     2011.0
3          1068524   1304643     1     2006.0
4          1307041   1851857     1     2008.0
5          1700174   3324130     1     2010.0
6         16124523   6860160     1     2013.0
7          1562429   1296339     1     2007.0
8          1475205   1907467     1     2008.0
9          1484972   5352872     1     2012.0
10         1430026   2131650     1     2010.0
11         1015409   4004731     1     2011.0
12         1371835   1767064     1     2007.0
13        17046536   3022862     1     2011.0
14         1442320   3901459     1     2012.0
15         1320952   2154354     1     2011.0
16         1853678   3990500     1     2010.0
17         1713100   1972729     1     2012.0
18         1090897   1301578     1     2009.0
19         1920971  10491666     1     2012.0
20         1622026   1972729     1     2013.0
21         1789507   1388216     1     2007.0
22        10163586   3897667     1     2010.0
23         1478286   1296867     1     2010.0
24         1685299   2357304     1     2008.0
25         1801254   3182864     1     2010.0
26         1355147   1291546     1     2008.0
27        19556493   1417598     1     2009.0
28         1123794   1291869     1     2006.0
29        18122670   1451430     1     2010.0
...            ...       ...   ...        ...
16868388  19993676   3443986     0     2011.0
16868389  19993676   4906764     0     2007.0
16868390  19993676   5151793     0     2006.0
16868391  19993676   4300780     0     2005.0
16868392  19993676   2214099     0     2016.0
16868393  19993676   4050086     0     2014.0
16868394  19993676   1309025     0     2005.0
16868395  19993676   1296697     0     2014.0
16868396  19993676   1779548     0     2016.0
16868397  19993676   1295046     0     2014.0
16868398  19993676   1428134     0     2013.0
16868399  19993676   1306314     0     2007.0
16868400  19993676   4910181     0     2014.0
16868401  19993676   5361563     0     2009.0
16868402  19993676   1499762     0     2012.0
16868403  19993676   2132164     0     2014.0
16868404  19993676   1787915     0     2005.0
16868405  19993676   2004547     0     2007.0
16868406  19993676   2365061     0     2007.0
16868407  19993676   1959944     0     2012.0
16868408  19993676   1417900     0     2005.0
16868409  19993676   1424257     0     2011.0
16868410  19993676  10518898     0     2005.0
16868411  19993676  11636311     0     2009.0
16868412  19993676   3564315     0     2008.0
16868413  19993676   3901459     0     2007.0
16868414  19993676   3804003     0     2011.0
16868415  19993676   1999216     0     2007.0
16868416  19993676   1966139     0     2013.0
16868417  19993676   1962621     0     2014.0

[16868418 rows x 4 columns]