In [1]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from pandas import DataFrame as DF

usermovie = pd.read_csv('../data/final_data.csv',sep=',')
movie_head = pd.read_csv('../data/movie_head.txt',sep=',')
#loan_inner=pd.merge(usermovie,movie_head,how='inner')

In [2]:
usermovie

               uid       mid  star  timeStamp
0          1722994   1306505     1     2007.0
1          1405477  10574468     1     2013.0
2         15849871   4910186     1     2011.0
3          1068524   1304643     1     2006.0
4          1307041   1851857     1     2008.0
5          1700174   3324130     1     2010.0
6         16124523   6860160     1     2013.0
7          1562429   1296339     1     2007.0
8          1475205   1907467     1     2008.0
9          1484972   5352872     1     2012.0
10         1430026   2131650     1     2010.0
11         1015409   4004731     1     2011.0
12         1371835   1767064     1     2007.0
13        17046536   3022862     1     2011.0
14         1442320   3901459     1     2012.0
15         1320952   2154354     1     2011.0
16         1853678   3990500     1     2010.0
17         1713100   1972729     1     2012.0
18         1090897   1301578     1     2009.0
19         1920971  10491666     1     2012.0
20         1622026   1972729     1     2013.0
21         1789507   1388216     1     2007.0
22        10163586   3897667     1     2010.0
23         1478286   1296867     1     2010.0
24         1685299   2357304     1     2008.0
25         1801254   3182864     1     2010.0
26         1355147   1291546     1     2008.0
27        19556493   1417598     1     2009.0
28         1123794   1291869     1     2006.0
29        18122670   1451430     1     2010.0
...            ...       ...   ...        ...
16868388  19993676   3443986     0     2011.0
16868389  19993676   4906764     0     2007.0
16868390  19993676   5151793     0     2006.0
16868391  19993676   4300780     0     2005.0
16868392  19993676   2214099     0     2016.0
16868393  19993676   4050086     0     2014.0
16868394  19993676   1309025     0     2005.0
16868395  19993676   1296697     0     2014.0
16868396  19993676   1779548     0     2016.0
16868397  19993676   1295046     0     2014.0
16868398  19993676   1428134     0     2013.0
16868399  19993676   1306314     0     2007.0
16868400  19993676   4910181     0     2014.0
16868401  19993676   5361563     0     2009.0
16868402  19993676   1499762     0     2012.0
16868403  19993676   2132164     0     2014.0
16868404  19993676   1787915     0     2005.0
16868405  19993676   2004547     0     2007.0
16868406  19993676   2365061     0     2007.0
16868407  19993676   1959944     0     2012.0
16868408  19993676   1417900     0     2005.0
16868409  19993676   1424257     0     2011.0
16868410  19993676  10518898     0     2005.0
16868411  19993676  11636311     0     2009.0
16868412  19993676   3564315     0     2008.0
16868413  19993676   3901459     0     2007.0
16868414  19993676   3804003     0     2011.0
16868415  19993676   1999216     0     2007.0
16868416  19993676   1966139     0     2013.0
16868417  19993676   1962621     0     2014.0

[16868418 rows x 4 columns]

In [3]:
movie_head

           mid  count
0      0   426  19133
1      1   172  17849
2      2  1040  15947
3      3   949  15567
4      4   936  15259
5      5   289  14866
6      6  1290  13970
7      7   630  13207
8      8   454  12694
9      9   723  12645
10    10   186  12594
11    11   196  12584
12    12   140  12565
13    13    36  12283
14    14    26  12236
15    15   205  12216
16    16    79  11834
17    17  1170  11408
18    18   115  11350
19    19   410  11210
20    20   848  11191
21    21     9  11116
22    22   818  11062
23    23   734  10840
24    24   997  10740
25    25   307  10709
26    26   721  10677
27    27  1618  10673
28    28   141  10574
29    29   219  10065
..   ...   ...    ...
970  970  2108   2005
971  971  1440   2002
972  972   303   2001
973  973  3793   2001
974  974  1653   2001
975  975  4337   2001
976  976   840   2000
977  977  3083   1997
978  978  3768   1994
979  979  3245   1993
980  980   299   1992
981  981  7384   1984
982  982  6267   1982
983  983  2657   1980
984  984  1305   1979
985  985  3023   1979
986  986  3544   1976
987  987  1642   1976
988  988  3819   1972
989  989   376   1972
990  990  1850   1972
991  991   809   1962
992  992  4692   1962
993  993  1787   1960
994  994  3106   1960
995  995  1809   1960
996  996  2195   1959
997  997  3704   1957
998  998  1783   1956
999  999  1391   1955

[1000 rows x 3 columns]

In [4]:
mid = usermovie['mid'].unique()
uid = usermovie['uid'].unique()
collect_mid_encoder = {}
collect_mid_dencoder = {}
collect_uid_encoder = {}
collect_uid_dencoder = {}
for i in range(len(mid)):
    collect_mid_encoder[i] = mid[i]
    collect_mid_dencoder[mid[i]] = i
for i in range(len(uid)):
    collect_uid_encoder[i] = uid[i]
    collect_uid_dencoder[uid[i]] = i
usermovie['mid'] = usermovie['mid'].map(lambda x:collect_mid_dencoder[x])
usermovie['uid'] = usermovie['uid'].map(lambda x:collect_uid_dencoder[x])

In [5]:
print(len(uid))
print(len(mid))

48608
72581